## 06. pandas(3)

### 파일 입출력

In [ ]:
import pandas as pd

In [ ]:
# csv 파일 불러오기
df = pd.read_csv("practice_book_dataset.csv")
df.head()

In [ ]:
# 데이터 정보 확인
df.shape
df.dtypes
df.info()
df.describe()

In [ ]:
df["title"].head(10)
df[["title","author"]].head(10)

In [ ]:
df2 = df.copy()
df2["libarary"] = "seoul library"
df2.to_csv("new_book_dataset.csv")

In [ ]:
mask = df["price"] >= 100
df[mask]
df.loc[mask, ["title", "price", "avg_reviews"]]

In [ ]:
df.isnull().sum()

In [ ]:
# excel 파일 불러오기
df = pd.read_excel("practice_employee_dataset.xlsx")
df.head()

In [ ]:
# excel(xlsx) 파일로 저장
df2 = df.copy()
df2["Working Period"] = 3
df2.head(10)
df.to_excel("New_employee_dataset.xlsx")

In [ ]:
df = pd.read_csv("dataset/dataset.csv")
df.describe()
df.info()

In [5]:
df = pd.read_excel("dataset/dataset2.xlsx")
df

c:\Users\user\anaconda3\envs\data_analysis\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,에너지원별(1),에너지원별(2),에너지원별(3),에너지원별(4),2020,2021,2022,2023
0,총발전량 (MWh),소계,소계,소계,579999196,611015325,626448138,624883407
1,NaN,양수발전,소계,소계,3271019,3682932,3715049,3783877
2,신재생에너지 공급비중 (%),소계,소계,소계,7.44,8.29,9.22,9.67
3,NaN,재생에너지,소계,소계,6.41,7.15,8.05,8.5
4,NaN,신에너지,소계,소계,1.02,1.14,1.18,1.16
...,...,...,...,...,...,...,...,...
76,② 신에너지,연료전지 (MWh),소계,소계,3544354,4798120,5409625,6257348
77,NaN,NaN,사업용,소계,3485608,4727370,5329684,6164458
78,NaN,NaN,자가용,소계,58746,70750,79942,92889
79,NaN,IGCC (MWh),소계,소계,2377374,2190755,1964827,996517
80,NaN,NaN,사업용,소계,2377374,2190755,1964827,996517